plexus-contract/src/test/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://contractfirst.cxf.quickstarts.fuse.jboss.org"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://contractfirst.cxf.quickstarts.fuse.jboss.org">

  <!-- Type definitions for input- and output parameters for webservice -->
  <wsdl:types>
    <xs:schema targetNamespace="http://contractfirst.cxf.quickstarts.fuse.jboss.org">
      <xs:element type="xs:string" name="resultCode" />
      <xs:element name="purchaseOrder" type="tns:purchaseOrder"/>
      <xs:complexType name="purchaseOrder">
          <xs:sequence>
              <xs:element type="xs:string" name="partName" />
              <xs:element type="xs:int" name="amount" />
              <xs:element type="xs:string" name="customerName" />
           </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <!-- Message definitions for input and output -->
  <wsdl:message name="purchaseOrder">
    <wsdl:part name="parameters" element="tns:purchaseOrder" />
  </wsdl:message>
  <wsdl:message name="orderResult">
    <wsdl:part name="resultCode" element="tns:resultCode" />
  </wsdl:message>

  <!-- Port (interface) definitions -->
  <wsdl:portType name="OrderEndpoint">
    <wsdl:operation name="order">
      <wsdl:input message="tns:purchaseOrder" />
      <wsdl:output message="tns:orderResult" />
    </wsdl:operation>
  </wsdl:portType>

  <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
  <wsdl:binding name="OrderBinding" type="tns:OrderEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="order">
      <soap:operation soapAction="http://contractfirst.cxf.quickstarts.fuse.jboss.org/Order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service definition -->
  <wsdl:service name="OrderEndpointService">
    <wsdl:port name="OrderService" binding="tns:OrderBinding">
      <soap:address location="http://localhost:9101/order" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>